---
- name: Update static DNS in /etc/network/interfaces
  hosts: MYHOSTFILE
  become: true

  vars: # replace with needed variable
    old_dns: "MYOLDDNSADDRESS"
    new_dns: "MYNEWDNSADDRESS"

  tasks:
    - name: Backup /etc/network/interfaces
      copy:
        src: /etc/network/interfaces
        dest: /etc/network/interfaces.bak
        remote_src: true
        mode: '0644'

    - name: Replace DNS entry
      replace:
        path: /etc/network/interfaces
        regexp: '^\s*dns\s+{{ old_dns }}'
        replace: '    dns {{ new_dns }}'

    - name: Restart networking
      service:
        name: networking
        state: restarted
